* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url("assets/wallpaper.png") no-repeat center fixed;
  background-size: cover;
  font-family: "Montserrat Alternates", sans-serif;
  font-family: "Press Start 2P", cursive;
  font-family: "Righteous", cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 2vh;
}

h1 {
  font-size: 3rem;
  color: black;
  width: 100%;
  text-align: center;
  background: linear-gradient(
    90deg,
    rgba(225, 173, 1, 1) 0%,
    rgba(115, 165, 128, 1) 50%,
    rgba(62, 54, 63, 1) 100%
  );
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background: white;
  justify-content: flex-start;
  row-gap: 2rem;
  width: 60vw;
  height: 85vh;
  background: url("assets/pepewow.jpg");
  background-size: cover;
}

.highscores {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background: url("assets/pepe-worship.gif");
  justify-content: flex-start;
  color: white;
  row-gap: 2rem;
  width: 60vw;
  height: 85vh;
  background-size: cover;
}
/* CSS */
#music {
  align-self: flex-end;
  border-radius: 2px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 1px -2px, rgba(0, 0, 0, 0.14) 0 2px 2px 0,
    rgba(0, 0, 0, 0.12) 0 1px 5px 0;
  color: red;
  background-color: transparent;
  cursor: pointer;
  font-size: 2rem;
  font-weight: 500;
  height: 3rem;
  width: 3rem;
  letter-spacing: 0.0892857em;
  outline: none;
  padding: 0 16px;
  position: absolute;
  z-index: 1;
}

.main-buttons {
  display: flex;
  row-gap: 3rem;
  width: 60vw;
  height: 85vh;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  position: absolute;
}

#play,
#highscores {
  align-self: center;
  border-radius: 4px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 1px -2px, rgba(0, 0, 0, 0.14) 0 2px 2px 0,
    rgba(0, 0, 0, 0.12) 0 1px 5px 0;
  color: white;
  background-color: green;
  cursor: pointer;
  font-size: 2rem;
  font-weight: 500;
  height: 3rem;
  letter-spacing: 0.0892857em;
  outline: none;
  padding: 0 16px;
}

#main-menu {
  align-self: center;
  border-radius: 4px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 1px -2px, rgba(0, 0, 0, 0.14) 0 2px 2px 0,
    rgba(0, 0, 0, 0.12) 0 1px 5px 0;
  color: white;
  background-color: green;
  cursor: pointer;
  font-size: 2rem;
  font-weight: 500;
  height: 3rem;
  letter-spacing: 0.0892857em;
  outline: none;
  padding: 0 16px;
  z-index: 2;
  position: absolute;
  right: 45vw;
  bottom: 10vh;
}

#back {
  align-self: center;
  border-radius: 4px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 1px -2px, rgba(0, 0, 0, 0.14) 0 2px 2px 0,
    rgba(0, 0, 0, 0.12) 0 1px 5px 0;
  color: white;
  background-color: green;
  cursor: pointer;
  font-size: 2rem;
  font-weight: 500;
  height: 3rem;
  letter-spacing: 0.0892857em;
  outline: none;
  padding: 0 16px;
  z-index: 2;
  position: absolute;
  right: 45vw;
  bottom: 7vh;
}

.gridContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 3px;
  height: 100%;
  width: 100%;
  perspective: 1000px;
}

img {
  width: 20rem;
}

.memory-card {
  border: 2px solid black;
  position: relative;
  width: 20%;
  height: 20%;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.front-face,
.back-face {
  width: 100%;
  height: 100%;
  position: absolute;
  border: 2px solid green;
  backface-visibility: hidden;
}

.back-face.flip {
  transform: rotateY(180deg);
}

#name {
  background-color: #3cbc8d;
  color: white;
  width: 100%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
}

#win {
  height: 85vh;
  width: 60vw;
  text-align: center;
  font-size: 6rem;
  position: absolute;
  color: black;
  background-color: lightgreen;
}

h2 {
  color: black;
  text-align: center;
  font-size: 4rem;
}

.timerContainer {
  display: flex;
  font-size: 2rem;
  background-color: white;
}

li {
  color: #73628a;
  height: 8vh;
  font-size: 3rem;
  list-style-type: none;
  text-align: center;
  border: 2px dotted green;
}
